body {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
  }
.switch
{
    position: relative;
    display: inline-block;
    width: 96px;
    height: 36px;
}
.switch-input
{
    display: none;
}
.switch-slider
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;    
    right: 0;
    cursor:pointer;
    background-color: #fff;
    transition: 0.3s ease background-color;
    border-radius:56px;
    transition: 0.4s ease-in-out  ;
}
.switch-slider::before
{
    content:"";
    position: absolute;
    top: 3px;
    left: 8px;
    width: 30px;
    height: 30px;
    background-color: #fafd0f;
    border-radius: 50%;
    animation: slide-up-sun 700ms ease-in-out forwards;
}
.switch-input:focus + .switch-slider
{
    box-shadow: 0 0 3px #000;
}
.switch-input:checked + .switch-slider
{
    background-color:#000;
}
.switch-input:checked + .switch-slider::before
{
    content: "";
    position: absolute;
    top: 4px;
    left: 52px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    box-shadow: 6px 2px 1px 5px white;
    border-radius: 50%;
    animation: slide-up-moon 700ms
}
@keyframes slide-up-moon {
    0% { transform: translateY(30px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}
@keyframes slide-up-sun {
    0% { transform: translateY(-30px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}
.dropdown
{
    position: relative;
    display: inline-block;
}
.dropbtn
{
    width: 60px;
    background-image: url(/images/Russia-Flag-icon.png);
    background-repeat: no-repeat;
    cursor:pointer;
    position: relative;
}

.dropbtn::after
{
    content:"";
    background: rgba(0, 0, 0, 0) url(/images/745173.png);
    background-repeat:no-repeat;
    background-position:center center;
    position: absolute;
    top: 3px;
    width: 16px;
    height: 16px;
}
.dropdown-content
{
    display: none;  
    position: absolute;
    flex-direction: column;
    background-color: #e8e6e6;
    width: 60px;
}
.dropdown-content button {
    color: black;
    padding: 2px 0 2px 25px;
    text-decoration: none;
    transition: background-color 0.5s ease-in-out;
    border: 0px;
    cursor: pointer;
}
.dropdown-content a:hover
{
    background-color: #f1f1f1;
}
.dropdown-content button:first-child
{
  background: url(/images/Russia-Flag-icon.png) no-repeat left center;
}
.dropdown-content button:last-child
{
  background: url(/images/flag-usa-icon.png) no-repeat left center;
}
.header-container
{
    height: 947px;
    width: 100%;
    background-image:url(/images/фон.jpg);
    background-position:center center;
    background-repeat:no-repeat;

}